<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
<!--     <property name="LOG_PATH" value="C:/u01/apps/AM/log/"/> -->
    <property name="LOG_PATH" value="/opt/account-management/log/"/>
    <property name="LOG_FILE" value="am.8899"/>
    
    <appender name="CONSOLE"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    
    <appender name="FILE"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d %p %m%n</Pattern>
        </encoder>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1000MB</maxFileSize>
            <!-- <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap> -->
        </rollingPolicy>
    </appender>
    
    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
 
    <!-- LOG "com.newgen.am*" at TRACE level -->
    <logger name="com.newgen.am" level="TRACE" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>